QProgressBar
{
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #000000, stop:0.49 #191919, stop:0.51 #191919, stop:1 #000000);
	border-radius: 5px;
	text-align: center;
}

QProgressBar::chunk
{
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #00FF00, stop:0.49 #228B22, stop:0.51 #228B22, stop:1 #00FF00);
	border-radius: 2px;
	width: 25.4px;
	text-align: center;
	margin: 0.5px;	

}
